@model Desenvolvimento.Models.Clientes

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes - Clientes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Deletar", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
