@model Desenvolvimento.Models.Imoveis

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes - Imoveis</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo_negocio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_negocio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpf_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpf_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_cliente)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.id_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ativo)
        </dd>

    </dl>
</div>
<p>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Deletar", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
